src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:micorp-order-sapi="http://www.mulesoft.org/schema/mule/micorp-order-sapi"
	xmlns:micorp-item-sapi="http://www.mulesoft.org/schema/mule/micorp-item-sapi"
	xmlns:micorp-customer-sapi="http://www.mulesoft.org/schema/mule/micorp-customer-sapi"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/validation 
		http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
		http://www.mulesoft.org/schema/mule/micorp-customer-sapi 
		http://www.mulesoft.org/schema/mule/micorp-customer-sapi/current/mule-micorp-customer-sapi.xsd
		http://www.mulesoft.org/schema/mule/micorp-item-sapi 
		http://www.mulesoft.org/schema/mule/micorp-item-sapi/current/mule-micorp-item-sapi.xsd
		http://www.mulesoft.org/schema/mule/micorp-order-sapi 
		http://www.mulesoft.org/schema/mule/micorp-order-sapi/current/mule-micorp-order-sapi.xsd
	">

	<sub-flow name="createCustomer">

		<ee:transform doc:name="Customer Payload">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	firstName: vars.firstName,
	lastName: vars.lastName,
	address: vars.payloadInput.customer.address.address1 ++
				" " ++
				vars.payloadInput.customer.address.city ++
				" " ++ 
				vars.payloadInput.customer.address.zipCode
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>

		<set-variable
			value='#[%dw 2.0&#10;output application/json&#10;---&#10;if (vars.openTelemetryTrace.traceparent != null)&#10;	vars.openTelemetryTrace.traceparent as String&#10;else&#10;	""]' 
			doc:name="traceparent" 
			variableName="traceparent" />
		<micorp-customer-sapi:create-customer
			doc:name="create customer"
			config-ref="Micorp_customer_sapi_Config" 
			traceparent="#[vars.traceparent]"/>
		
		<ee:transform doc:name="get customerId">
		
			<ee:message>
			</ee:message>
		
			<ee:variables>
				<ee:set-variable variableName="customerId"><![CDATA[%dw 2.0
import dw::core::Strings
var location = attributes.headers.location
---
if (location != null ) 
    (location Strings::substringAfterLast "/")
else null
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:is-true
			doc:name="was Customer created?"
			config-ref="Validation_Config"
			expression="#[vars.customerId != null]"
			message="The reference to the Customer could not be retrieved" />
	</sub-flow>


	<sub-flow name="createOrder">

		<ee:transform doc:name="Order Payload">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"poNumber": vars.payloadInput.orderData.poNumber,
	"signatureRequiredFlag": vars.payloadInput.orderData.signatureRequiredFlag,
	"shipInstructions": vars.payloadInput.orderData.shipInstructions,
	"giftWrapFlag": vars.payloadInput.orderData.giftWrapFlag,
  	"giftWrapMessage": vars.payloadInput.orderData.giftWrapMessage,
  	"currencyCode": vars.payloadInput.orderData.currencyCode,
  	"subTotal": vars.payloadInput.orderData.subTotal,
  	"email": vars.payloadInput.orderData.email,
  	"customerId": vars.customerId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>

		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;if (vars.openTelemetryTrace.traceparent != null)&#10;	vars.openTelemetryTrace.traceparent as String&#10;else&#10;	""]' doc:name="traceparent" doc:id="d952aed0-6f1b-47d6-9162-283abe66f690" variableName="traceparent" />
		<micorp-order-sapi:create-order
			doc:name="Create order"
			config-ref="Micorp_order_sapi_Config" 
			traceparent="#[vars.traceparent]"/>
		
		<ee:transform doc:name="get orderId">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="orderId"><![CDATA[%dw 2.0
import dw::core::Strings
var location = attributes.headers.location
---
if (location != null ) 
    (location Strings::substringAfterLast "/")
else null
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:is-true
			doc:name="was Order created?"
			config-ref="Validation_Config"
			expression="#[vars.orderId != null]"
			message="The reference to the Order could not be retrieved" />
	</sub-flow>



	<sub-flow name="createItem">

		<ee:transform doc:name="Item Payload">

			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.id,
	category: payload.category,
	quantity: payload.quantity,
	size: payload.size,
	orderId: vars.orderId
}]]></ee:set-payload>

			</ee:message>

		</ee:transform>

		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;if (vars.openTelemetryTrace.traceparent != null)&#10;	vars.openTelemetryTrace.traceparent as String&#10;else&#10;	""]' doc:name="traceparent" doc:id="9b59d706-b0cb-4a2d-b7d4-3c5e6132a701" variableName="traceparent" />
		<micorp-item-sapi:create-item 
			doc:name="Create item" 
			config-ref="Micorp_item_sapi_Config" 
			traceparent="#[vars.traceparent]"/>
		
		<ee:transform doc:name="get itemId">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="itemId"><![CDATA[%dw 2.0
import dw::core::Strings
var location = attributes.headers.location
---
if (location != null ) 
    (location Strings::substringAfterLast "/")
else null
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:is-true
			doc:name="was Item created?"
			config-ref="Validation_Config"
			expression="#[vars.itemId != null]"
			message="The reference to the Item could not be retrieved" />
	</sub-flow>

	<sub-flow name="validateOrder">

		<set-variable
			value="#[vars.payloadInput.orderData.poNumber]"
			doc:name="find by poNumber"
			variableName="poNumber" />

		<set-variable 
			value='#[%dw 2.0&#10;output application/json&#10;---&#10;if (vars.openTelemetryTrace.traceparent != null)&#10;	vars.openTelemetryTrace.traceparent as String&#10;else&#10;	""]' 
			doc:name="traceparent" 
			variableName="traceparent" />
		
		<micorp-order-sapi:get-orders
			doc:name="Get orders" 
			config-ref="Micorp_order_sapi_Config"
			po-number="#[vars.poNumber]"
			traceparent="#[vars.traceparent]"/>

		<validation:is-true
			doc:name="is new Order?"
			expression="#[sizeOf(payload) == 0]"
			message="${messages.order-previously-created}" />

		<flow-ref
			doc:name="Create Order"
			name="createOrder" />
	</sub-flow>

	<sub-flow name="validateCustomer">

		<set-variable
			value="#[vars.payloadInput.customer.firstName]"
			doc:name="find by firstName"
			variableName="firstName" />

		<set-variable
			value="#[vars.payloadInput.customer.lastName]"
			doc:name="find by lastName"
			variableName="lastName" />
		
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;if (vars.openTelemetryTrace.traceparent != null)&#10;	vars.openTelemetryTrace.traceparent as String&#10;else&#10;	""]' 
			doc:name="traceparent" 
			variableName="traceparent"/>

		<micorp-customer-sapi:get-customers
			doc:name="getCustomers"  
			config-ref="Micorp_customer_sapi_Config" 
			first-name="#[vars.firstName]"
			last-name="#[vars.lastName]"
			traceparent="#[vars.traceparent]"/>
		 
		<choice doc:name="Customer exist?">

			<when expression="#[sizeOf(payload) &gt; 0]">
				<set-variable
					value="#[payload[0].customerId]"
					doc:name="get customerId" 
					variableName="customerId" />
			</when>

			<otherwise>
			
				<flow-ref
					doc:name="Flow Reference"
					name="createCustomer" />
			</otherwise>

		</choice>
	</sub-flow>
	
	
	<flow name="integration-order">
		<set-variable 
			value='#[%dw 2.0&#10;output application/java&#10;---&#10;{&#10;    "poNumber": payload.orderData.poNumber default "",&#10;    "firstName": payload.customer.firstName default ""&#10;}]' 
			doc:name="otel Tags"  
			variableName="openTelemetryTags" />
		
		<set-variable
			value="#[payload]"
			doc:name="Save Payload"
			variableName="payloadInput" />
		
		<flow-ref doc:name="Validate Customer" name="validateCustomer" />
		<flow-ref doc:name="Validate Order" name="validateOrder" />
		
		<foreach
			doc:name="Iterate over Items"
			collection="#[vars.payloadInput.items]">

			<flow-ref
				doc:name="Create Item"
				name="createItem" />
		</foreach>

		<set-variable 
			value='#[vars.outboundHeaders default {} ++ { "x-correlation-id" : vars.correlationId }]' 
			doc:name="outbound Headers" 
			variableName="outboundHeaders"/>
		<ee:transform
			doc:name="Response Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "${messages.order-success}"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-error-handler">
		</error-handler>
	</flow>
</mule>
